streamlit==1.36.0
streamlit-pdf-viewer==0.0.29
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langchain-groq==0.1.9
langchain-huggingface==0.0.3
langchain-pinecone
langchain-text-splitters==0.2.4
langsmith==0.1.147
pinecone==7.3.0
pypdf==4.2.0
python-dotenv==1.0.1
sentence-transformers==3.0.1
supabase==2.30.0
